<!-- Montar tela de 404 NOT FOUND -->
<div>
  <mat-card class="example-card">
    <h1>Awwww... não chore.</h1>
    <img mat-card-image src="https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470175715831-NUJOMI6VW13ZNT1MI0VB/image-asset.jpeg?format=500w" alt="PIXAR">
    <p>É apenas um erro 404!</p>
    <mat-card-actions >
      <a routerLink="/" mat-raised-button color="accent"><mat-icon aria-label="Example home icon">home</mat-icon>HOME</a>
    </mat-card-actions>
  </mat-card>
</div>

