<!-- A informações chamadas aqui podem ser consultadas na interface MovieTvBase,
  assim pode-se escolher até mais itens para adicionar aqui -->
<mat-card class="card-details">
  <section *ngIf = "detail$ | async as detail" class="section-details">
    <img
      src="https://image.tmdb.org/t/p/w300/{{ detail.poster_path }}"
      alt=""
    />
    <h1>{{ detail.name }}</h1>
    <p class="mat-body-2">{{ detail.overview }}</p>
    <mat-chip-list>
      <mat-chip color="accent">{{ detail.vote_average }}</mat-chip>
    </mat-chip-list>
    <img
      src="https://image.tmdb.org/t/p/w300/{{ detail.backdrop_path }}"
      alt="Backdrop"
    />
  </section>
</mat-card>
